@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,300);

body {
    background-color: #fff;
    margin: auto;
    overflow-y: visible;
    font-family: 'Mukta',serif;
    color: #000;
    font-size: 14px!important;
}

.primary {
    color: #565555;
}

.primary-bg {
    background-color: #565555;
    color: white;
}

.primary-border {
    border-color: #565555;
}

.secondary {
    color: #f0f0f0;
}

.secondary-bg {
    background-color: #f0f0f0;
    color: black;
}

.secondary-border {
    border-color: #f0f0f0;
}

.thirtiary {
    color: #dc9e23;
}

.thirtiary-bg {
    background-color: #dc9e23;
    color: black;
}

.thirtiary-border {
    border-color: #dc9e23;
}

.quarternary {
    color: #e14a31;
}

.quarternary-bg {
    background-color: #e14a31;
    color: white;
}

.quarternary-border {
    border-color: #e14a31;
}

.hidden {
    display: none;
}
